*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: black;
  height: 80px; 

  display: flex; 
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo{
    height: 100%;
}
.nav-link{
    display: flex;
    flex-direction: row;
}
.nav-links{
    margin-left: 20px;
}
.nav-a{
    color: white;
    text-decoration: none;
}